@charset "ISO-8859-1";
@import "style.css";"

*{
	box-sizing: border-box;
}

/* SIDEBAR MENU */

.sideBar{
	background-color: var(--primary);
	margin: 0;
	width: 235px;
	position: fixed;
	height: 100vh;
}

.sideBar-header{
	padding: 0px 15px;
	margin: 20px 15px;
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
}

.sideBar .items{
	list-style-type: none;
	padding: 0px;
}

.sideBar .item{
	padding: 14px 0;
	padding-left: 15%;
	align-items: center;
}

.sideBar .item:hover{
	background: var(--secondary);
	color: #FFFFFF;
}

.active{
	background: var(--secondary);
}

.active .text,
.active .icon{
	color: #FFFFFF;
}

.sideBar li a{
	text-decoration: none;
	color: #000000;
	height: 100%;
	vertical-align: center;
}

.sideBar li:hover .icon,
.sideBar li:hover .text{
	color: #FFFFFF;
}

.sideBar li .icon{
	margin-right: 15px;
	align-items: center;
}

.sideBar .divider{
	height: 68vh;
}


/* CONTENT HEADER */

.content{
	height: 100vh;
	width: calc(100% - 235px);
	position: relative;
	left: 235px;
}

.content-header{
	position: -webkit-sticky;
  	position: sticky;
	top: 0;
	padding: 30px;
	max-height: 208px;
	background-color: #FFFFFF;
}

.content-header .item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content-header .title{
	width: 100%;
}

.content-header h2{
	margin-bottom: 20px;
}

.content-header .reminder{
	height: 38px;
	font-size: 14px;
	text-align: center;
}

.content-header .line{
	width: 100%;
	flex-direction: column;
	border-bottom: 3px solid var(--lightGrey);
	border-radius: 3px;
}

.content-header .profileBadge{
	width: 200px;
	display: inline-block;
}

.content-header .profileBadge a{
	text-decoration: none;
	color: #000000;
	align-items: center;
	font-weight: 600;
	float: right;
}

.content-header img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: 15px;
}

.content-header .back{
	color: black;
	text-decoration: none;
	margin-left: 50px;
	position: absolute;
	top: 10;
	left: 0;
}

.content-posts{
	padding: 0 30px;
}