@charset "ISO-8859-1";
@import "style.css";
@import "sidebarNav.css";

/* CONTENT TAB MENU */

.content-header .menu{
	width: 100%;
	margin-top: 30px;
	flex-direction: column;
	border-bottom: 3px solid var(--lightGrey);
	border-radius: 3px;
}

.content-header .menu a{
	padding: 10px;
	margin-right: 0;
	text-align: center;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	bottom: 0;
	color: #000000;
	display: inline-block;
}

.content-header .menu a.active{
	color: var(--primary);
	background-color: #FFFFFF;
}

.content-header .menu-selected{
	position: absolute;
	top: 209px;
	left: 238px;
	width: 100px;
	height: 3px;
	background-color: var(--primary);
	border-radius: 3px;
}

/* FOR DYNAMIC FUNCTIONS LATER

.content-header .menu-selected{
	position: absolute;
	top: 209px;
	left: 30px;
	width: 100px;
	height: 3px;
	background-color: var(--primary);
	border-radius: 3px;
}

.content-posts .tab-content{
	display: none;
}

.content-spots .tab-content.active{
	display: block;
}*/

.tab-content{
	width: 100%;
}

.tab-content .event-slogan{
	margin-bottom: 40px;
}

.tab-content .event-section{
	display: flex;
	justify-content: space-between;
}

.tab-content .event-section h4{
	width: 130px;
}

.tab-content .event-section hr{
	width: 280px;
	height: 1px;
	border: 2px solid var(--darkGrey);
}

.tab-content .event-desc{
	width: 580px;
	text-align: justify;
	float: right;
	margin-right: 40px;
}