@charset "ISO-8859-1";

:root{
	--primary: #79EABA;
	--secondary: #080930;
	--btnYellow: #FCFF59;
	--btnRed: #FF0000;
	--blue: #507FF9;
	--lightGrey: #D9D9D9;
	--lightGreen: #92F9E0;
	--lightBlue: #AFF5FF;
	--lightPurple: #E0ECFF;
	--darkGrey: #696969;
	--cards: #92F9E0, #AFF5FF, #E0ECFF;
}

body{
	background-color: white;
	max-width: 100%;
	overflow-x: hidden;
}

h1{
	font-size: 52px;
}

h2{
	font-size: 48px;
}

h3{
	font-size: 32px;
}

h4{
	font-size: 20px;
}

p{
	font-size: 16px;
}