@charset "ISO-8859-1";

.content-posts h3{
	margin: 30px 0;
}

.content-posts h4{
	margin-bottom: 10px;
}

.grid-view{
	display: flex;
	flex-wrap: wrap;
}

.month-card{
	width: 385px;
	height: 400px;
	background-color: var(--lightGrey);
	margin: 10px 20px 10px 0;
	padding: 20px;
}

.month-card.active{
	background-color: white;
	border: 2px solid var(--primary);
}

.sub-desc{
	height: 50px;
}

.sub-status{
	height: 200px;
}

.bottom-layer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-date p{
	margin: 0;
	padding-bottom: 5px;
}

.sub-btn{
	width: 180px;
	padding: 10px 25px;
	border-radius: 10px;
	background-color: var(--darkGrey);
	color: var(--lightGrey);
	text-decoration: none;
	text-align: center;
}

.sub-btn.active{
	background-color: black;
	color: white;
}